/* Estilos para el encabezado */
header {
    background-image: url('ruta/a/la/imagen.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    font-size: 2em;
  }
  
  header h1 {
    margin: 0;
    font-size: 3em;
  }
  
  header p {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  /* Estilos para la sección de blog */
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
  }
  
  section article {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  section article:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  section article img {
    width: 100%;
    height: auto;
  }
  
  section article h2 {
    margin: 20px;
    font-size: 1.8em;
    text-align: center;
  }
  
  section article p {
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
  }

  body {
    background-color: aliceblue;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
/* redes */

/* Estilos para el contenedor interno de la sección de contacto */
.contenedor {
  width: 80%;
  margin: auto;
}

/* Estilos para el título de la sección de contacto */
h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
/* Estilos para los cuadros de información de contacto */
.contacto-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contacto-info div {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  flex-basis: calc(50% - 20px);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contacto-info div:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0,0,0,0.3);
}

.contacto-info div h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #4285F4;
}

.contacto-info div p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.contacto-info div:first-of-type {
  margin-right: 40px;
}
.contacto-info div:nth-last-of-type(2) {
  margin-left: 40px;
}
.contacto-info div:last-of-type {
  margin-left: 40px;
}


@media screen and (max-width: 768px) {
  .contacto-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contacto-info div {
    margin: 10px;
    flex-basis: 100%;
  }
  
  .contacto-info div:last-of-type {
    margin-left: 0;
  }
}
  /* nav */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #f9f9f9;
  }
  
  /* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
  }

.fa-facebook {
    font-size: 5em;
    color: #1871e7;
  
}
.fa-whatsapp {
  font-size: 5em;
  color: #37bc4a;

}
.fa-google {
  font-size: 5em;
  background-image: linear-gradient(to right, #ea4335, #fbbc05, #34a853, #4285f4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.fa-instagram {
  font-size: 5em;
  background-image: linear-gradient(to right, #fed530, #fd7a23, #fc136b, #d11dc3, #7643f6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}